<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Evaluate Arithmetic Expression</title>
    </head>
    <body>
        <h2>Evaluate Arithmetic Expression </h2>
        <br/>
        <br/>
        <br/>

        <form method="post" action="/arithmetic/evaluateArithmeticExpression">
            <table border=0 >
            <tr><td align="right">Enter Arithmetic Expression:</td><td align="left"><input type="text" name="arithmeticExpression" size="50"></input></td></tr>
            <tr><td align="right"></td><td align="left"><input type="submit"></input></td></tr>
        </table>
    </form>

</body>
</html>